useDynLib("DMTWpackage")
export(Lentz_Q)
export(Lentz_R_nu)
export(SolveTwoLevelSparseMatrix)
export(NaiveMfvbLmmTwoLevelGaussPrior)
export(NaiveMfvbLmmTwoLevelGlobLocPrior)
export(StreamlinedMfvbLmmTwoLevelGaussPrior)
export(StreamlinedMfvbLmmTwoLevelGlobLocPrior)
export(SolveThreeLevelSparseMatrix)
export(NaiveMfvbLmmThreeLevelGaussPrior)
export(NaiveMfvbLmmThreeLevelGlobLocPrior)
export(StreamlinedMfvbLmmThreeLevelGaussPrior)
export(StreamlinedMfvbLmmThreeLevelGlobLocPrior)
import(Rcpp)
import(RcppArmadillo)